@import 'styles.css';

.content{
    width: 80%;
    margin: 25px 10%;
    padding: 25px;
    font-family: 'PT Sans', sans-serif;
}

.handles{
    list-style:none;
}
.handles > li{
    display:inline-block;
}