@import 'styles.css';

.handles{
    list-style:none;
}
.handles > li{
    display:inline-block;
}

.collapse-mobile{
    width:auto;
}
@media (max-width: 767px){
    .collapse-mobile{
        width:0;
        visibility: hidden;
    }
}
