@import 'styles.css';
iframe {
    min-height: calc(100vh - 105px);
    top: 55px;
    bottom: 50px;
}
@media(max-width: 767px){
    iframe {
        top: 50px;
        min-height: calc(100vh - 105px);
    }
}
