@import 'styles.css';

.content div{
    display: inline-block;
    margin: 0;
}

.handles{
    list-style:none;
}
.handles > li{
    display:inline-block;
    margin: 5px;
}


.gridlink {
    width: 200px;
    height: 200px;
    position:relative;
    background-color:#ddd;
    background-position: center center;
    border: dotted thin black;
    display:inline-block;
    -webkit-box-shadow: 3px 3px 1px 0px rgba(100,100,100,0.5);
    -moz-box-shadow: 3px 3px 1px 0px rgba(100,100,100,0.5);
    box-shadow: 3px 3px 1px 0px rgba(100,100,100,0.5);
}
.gridlink b{
    background-color:rgba(0,0,0,0.5);
    width:200px;
    padding: 15px;
    color: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
}
.gridlink:hover b{
    background-color:rgba(0,0,0,0.8);
    width:200px;
    padding: 15px;
    color: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
}