@import 'fonts.css';
@import 'bootstrap.css';
.wrapper {

}
.footer {
    width: 100%;
    height: 50px;
    border-top: thin solid #444;
    padding: 15px 0;
    bottom: 0;
    left: 0;
    position: absolute;
    position: fixed;
    background: rgba(255,255,255,0.7);
}

.tuzki{
    position:absolute;
    right:0;
    bottom:0;
    z-index: -1;
}
.tuzki img{
    width: 25vw;
}

section{
    width:100%;
    min-height:100%;
    position:relative;
    padding:0;
    margin: 0;
}

.content{
    width: 100%;
    padding: 25px 10% 25px 10%;
    font-family: 'PT Sans', sans-serif;
    min-width: 330px;
    height: calc(100vh - 100px);
    overflow-y:auto;
    overflow-x:hidden;
    background-color:rgba(255,255,255,0.15);
}
@media(max-height:616px){
    .content{
        max-height:calc(100vh - 150px);
    }
}

.collapse-mobile{
    width:auto;
}
@media (max-width: 767px){
    .collapse-mobile{
        max-width:0;
        visibility: hidden;
    }
}

.background{
    z-index:-999;
    position: absolute;
    position: fixed;
    overflow:hidden;
    width:100%;
    height:100%
}

.navbar {
    padding: 0 10%;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: thin solid #aaa;
    background-color:rgba(255,255,255,0.9);
    border-radius: 0;
}
.navbar-nav a{
    color:#666;
    cursor:pointer;

}
.navbar-brand{
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #444;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border:none;
    border-bottom: thick solid #AAA;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #555;
    border:none;
  border-bottom: thick solid #000;
}
@media (max-width: 767px){
    .navbar .navbar-nav > li > a:hover,
    .navbar .navbar-nav > li > a:focus {
        color: #333;
        background-color: transparent;
        border:none;
        border-left: thick solid #AAA;
    }
    .navbar .navbar-nav > .active > a,
    .navbar .navbar-nav > .active > a:hover,
    .navbar .navbar-nav > .active > a:focus {
        color: #555;
        border:none;
        border-left: thick solid #000;
    }
}
